<%= render 'layouts/header' %>

<div class="content">
  <%= paginate @tweets %>

  <div id="tweet_heading">
    <span id="bird">
      <%= link_to image_tag("Twitter_logo_blue.png", size: "64x52"), 
            "https://twitter.com" %>
    </span>
    <%= link_to "@LaunchCodeSTL", "https://twitter.com/LaunchCodeSTL" %>
  </div>
  <div class="clear" />

  <ul>
    <% @tweets.each do |tweet| %>
      <%= render 'layouts/tweet', locals = { tweet: tweet } %>
    <% end %>
  <ul>

  <%= paginate @tweets %>
</div>

<%= render 'layouts/footer' %>
<%= javascript_include_tag "widgets" %>
<%= javascript_include_tag "follow_button" %>
