<%= render 'layouts/header' %>

<div class="content">
  <div id="lctv_heading">
    <%= link_to "LaunchCode TV", "http://tv.launchcode.us" %>
    <div class="separator"></div>
  </div>
  <%= paginate @youtubes %>

  <% @youtubes.each do |vid| %>
    <div class="yt_title">
      <%= vid.title %>
    </div>

    <%= render 'layouts/youtube', locals = { embed: vid.embed_id } %>

    <div class="separator"></div>
  <% end %>

  <%= paginate @youtubes %>
</div>

<%= render 'layouts/footer' %>
