<%= render 'layouts/header' %>

<div class="content">
  <div id="reddit_heading">
    <%= link_to "/r/LaunchCodeCS50x", "http://reddit.com/r/LaunchCodeCS50x" %>
  </div>
  <%= paginate @reddits %>
  <span id="after" class="<%= @after ? @after : "null" %>"></span>
  <% @reddits.each do |post| %>
    <%= render 'layouts/post', locals = { post: post } %>
    <div class="separator"></div>
  <% end %>
  <%= paginate @reddits %>
</div>

<%= render 'layouts/footer' %>
