<%= render 'layouts/header' %>

<div class="content">
  <%= form_tag submit_reddit_link_path do %>
    <%= label_tag 'Subreddit:' %><br/>
    <%= text_field_tag :subreddit, 'LaunchCodeCS50x' %><br/>

    <%= label_tag 'Title:' %><br/>
    <%= text_field_tag :title, nil, maxlength: 300 %><br/>

    <%= label_tag 'Link Url (Optional):' %><br/>
    <%= text_field_tag :url, nil %><br/>

    <%= label_tag 'Body:' %><br/>
    <%= text_area_tag :text, nil %><br/>

    <% if @captcha_url %>
      <%= image_tag @captcha_url %><br/>
      <%= text_field_tag :captcha_value %><br/>
    <% end %>
    <%= submit_tag "Submit Link" %>
  <% end %>
</div>

<%= render 'layouts/footer' %>
