<h1>Pages#latest</h1>
<p>Find me in app/views/pages/latest.html.erb</p>

<% @tweets.each do |tweet| %>
  <%= image_tag (tweet.profile_image_url), alt: "profile_image" %>
  <%= link_to tweet.name, "http://twitter.com/" + tweet.screen_name %>
  @<%= tweet.screen_name %><br/><br/>
  <%= raw tweet.text %><br/><br/>
<% end %>

<% @reddits.each do |post| %>
  <h2><%= post.title %></h2><br/>
  by <%= post.author %> at <%= post.posted_at %><br/><br/>
  <%= markdown(post.text).html_safe unless post.text.nil? %><br/><br/>

<% end %>
