<%= render 'layouts/header' %>

<div class="content">
  <div class="home_heading">
    Latest Entries
  </div>
  <div class="separator"></div>
  <% @latest.each do |item| %>
    <% if item.class.to_s == "RedditPost" %>
      <%= render 'layouts/post', locals = { post: item } %>
      <div class="separator"></div>
    <% elsif item.class.to_s == "Tweet" %>
      <%= render 'layouts/tweet', locals = { tweet: item } %>
    <% else %>
      <div class="yt_title">
        <%= item.title %>
      </div>
      <%= render 'layouts/youtube', locals = { embed: item.embed_id } %>
      <div class="separator"></div>
    <% end %>
  <% end %>
</div>

<%= render 'layouts/footer' %>
