<div class="post">
  <span class="post_title"> 
    <%= link_to post.title, post.is_self ? reddit_post_path(post) : 
                                           post.url %> 
  </span>
  <span class="post_domain">
    (<%= link_to post.domain, "http://reddit.com" +
      (post.domain.index("self") == 0 ? "/r/#{post.subreddit}" :
                                        "/domain/#{post.domain}") %>)
  </span>
  <br/>
  <div class="post_byline">
    submitted <%= time_ago_in_words(post.posted_at) %> by 
    <%= link_to post.author, "http://reddit.com/u/#{post.author}" %> 
    <% if current_user %>
      <span class="pm_author">
        (<%= link_to("PM Author", reddit_pm_path(author: post.author), 
            method: :post) %>)
      </span>
    <% end %>
  </div>

  <% if !post.text.empty? %>
    <div class="post_content">
      <%= markdown(post.text).html_safe %>
    </div>
  <% elsif post.domain  == "youtu.be" || post.domain == "youtube.com" %>
    <%= render 'layouts/youtube', 
          locals = { embed: post.get_embed(post.url, post.domain) } %> 
  <% end %>
  <div class="post_view_line">
    <ul>
      <li>
        <%= link_to "<span id=\"#{post.name}\"></span>".html_safe + 
              "<span class=\"num_comments\">Comments</span>".html_safe, 
              reddit_post_path(post) %> 
      </li>
      <li> | </li>
      <li>
        <%= link_to "View on reddit", 
                    "http://www.reddit.com#{post.permalink}" %>
      </li>
    </ul>
  </div>
</div>

<div class="separator"></div>
